In [38]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df = pd.read_csv('df.csv')
# Correlation Matrix

In [39]:
display(df.describe())
display(df.info())

              Open        Close        Volume          DFF
count  6037.000000  6037.000000  6.037000e+03  6037.000000
mean    197.783827   197.799976  1.082409e+08     1.784506
std     106.198342   106.232904  9.212886e+07     1.951092
min      67.949997    68.110001  1.436600e+06     0.040000
25%     119.360001   119.360001  5.136790e+07     0.130000
50%     146.029999   146.059998  8.122360e+07     1.120000
75%     258.869995   259.109985  1.380146e+08     2.660000
max     479.220001   477.709991  8.710263e+08     7.030000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6037 entries, 0 to 6036
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    6037 non-null   object
 1   Open    6037 non-null   float64
 2   Close   6037 non-null   float64
 3   Volume  6037 non-null   int64
 4   DFF     6037 non-null   float64
dtypes: float64(3), int64(1), object(1)
memory usage: 235.9+ KB

None

In [40]:
# Split Date
df[['Year','Month','Day']] = df["Date"].str.split('-', expand=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6037 entries, 0 to 6036
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    6037 non-null   object
 1   Open    6037 non-null   float64
 2   Close   6037 non-null   float64
 3   Volume  6037 non-null   int64
 4   DFF     6037 non-null   float64
 5   Year    6037 non-null   object
 6   Month   6037 non-null   object
 7   Day     6037 non-null   object
dtypes: float64(3), int64(1), object(4)
memory usage: 377.4+ KB

In [41]:
# Convert Day, Month, Year into integers

df = df.astype({"Day":"int32", "Month":"int32", "Year":"int32"})
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6037 entries, 0 to 6036
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    6037 non-null   object
 1   Open    6037 non-null   float64
 2   Close   6037 non-null   float64
 3   Volume  6037 non-null   int64
 4   DFF     6037 non-null   float64
 5   Year    6037 non-null   int32
 6   Month   6037 non-null   int32
 7   Day     6037 non-null   int32
dtypes: float64(3), int32(3), int64(1), object(1)
memory usage: 306.7+ KB

In [44]:
df['Date'] = pd.to_datetime(df['Date'])
df['DOW'] = df['Date'].dt.day_name()
df

,Date,Open,Close,Volume,DFF,Year,Month,Day,DOW
0,2000-01-14,146.531250,146.968750,7437300,5.56,2000,1,14,Friday
1,2000-01-18,145.343750,145.812500,6488500,5.83,2000,1,18,Tuesday
2,2000-01-19,145.312500,147.000000,6157900,5.47,2000,1,19,Wednesday
3,2000-01-20,146.968750,144.750000,5800100,5.44,2000,1,20,Thursday
4,2000-01-21,145.500000,144.437500,6244800,5.36,2000,1,21,Friday
...,...,...,...,...,...,...,...,...,...
6032,2024-01-08,468.429993,474.600006,74879100,5.33,2024,1,8,Monday
6033,2024-01-09,471.869995,473.880005,65931400,5.33,2024,1,9,Tuesday
6034,2024-01-10,474.160004,476.559998,67310600,5.33,2024,1,10,Wednesday
6035,2024-01-11,477.589996,476.350006,77940700,5.33,2024,1,11,Thursday
6036,2024-01-12,477.839996,476.679993,57944000,5.33,2024,1,12,Friday